:root {
    font-size: 1.2em;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url(https://media.istockphoto.com/vectors/vector-seamless-pattern-with-fruits-outline-icons-pineapple-apple-vector-id1182084383);
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    color: #9cec5b;
}

.bar {
    background-color: rgb(41, 40, 40);
    max-width: 600px;
    min-height: 100px;
    margin: 0 auto;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

#container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 0 auto;
    max-width: 35em;
    gap: 15px;
}

@media screen and (max-width: 10em) {
    #container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        width: 100%;
    }

    #info {
        width: 20em;
        justify-self: center;
        margin: 10px;
    }
}

#game {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    margin: 0 auto;
    flex-direction: column;
    justify-items: center;
    width: 500px;
    height: 500px;
}

.squares {
    width: 100%;
    border: 5px solid #9cec5b;
    background-color: rgb(41, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: 4em;
}

#info {
    background-color: #f0f465;
    text-align: center;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    border-radius: 25px;
    width: 150px;
}

.reset-button {
    background-color: rgb(41, 40, 40);
    color: #9cec5b;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    height: 2rem;
    width: 6rem;
}

.hidden {
    display: none;
}

#result {
    text-align: center;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-size: 4em;
    border-radius: 25px;
    background-color: rgb(250, 250, 250, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

#appleWord,
#appleWin {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: rgb(181, 30, 30);
}

#bananaWord,
#bananaWin {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: rgb(128, 124, 18);
}
